<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>MyBike</title>
</head>

<body>
    <nav class="navbar justify-content-end navbar-expand navbar-light bg-light nav-local">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="posts">Posts</a>
            </li>
        </ul>
    </nav>
    <div class="banner">
        <h1 class="title">MyBike <span class="small-title">Ride Journal</span></h1>
        <img class="bike-img" src="bike.jpg" alt="">
    </div>

    <div class="home-content">
        <h1><%= pageName %></h1>
        <p class="home-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna
            aliqua. Scelerisque purus semper eget duis. Urna nunc id cursus metus aliquam eleifend mi. Ut pharetra sit
            amet aliquam
            id diam maecenas ultricies mi. Eget sit amet tellus cras adipiscing enim eu.</p>
    </div>