<%- include("partials/header"); -%>

    <div class="main-content">
        <form action="/" method="post">
            <div class="input-title">
                <input type="text" name="blogTitle" placeholder="Enter Title">
            </div>
            <div class="input-text">
                <textarea name="blogContent" cols="30" rows="5" placeholder="Enter Post"></textarea>
            </div>
            <button type="submit">Create Post</button>
        </form>
    </div>

<%- include("partials/footer"); -%>